body{
    margin: 0;
    padding: 0;
    background-color: #699999;
}

header{
    background-color: #209998;
    color: #fff;
    padding-bottom: 80px;
}

h1{
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

b{
    display: block;
    padding-bottom: 20px;
    font-size: 22px;
}

nav{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

header img{
    width: 100px;
    height: 100px;
    display: block;
}

footer{
    background-color: #209998;
    display: flex;
    color: #fff;
    justify-content: end;
}

footer p{
    margin: 0;
    padding: 5px;
}

table, td, tr{
    border: 2px solid #488f67;
}

main{
    display: flex;
    justify-content: center;
    align-items: top;
}

main > div{
    width: 33%;
}

.middle img{
    width: 100%;
}

table{
    width: 100%;
}